.table_custom {
  font-size: 12px;
}

.table_custom th.contract_date {
  width: 7%; /* 원하는 너비로 설정 */
}

.table_custom th.insurance_company {
  width: 5%; /* 원하는 너비로 설정 */
}

.table_custom th.birth_gender {
  width: 7%;
}

.table_custom th.name {
  width: 4%;
}

.table_custom th.sign {
  width: 5%;
}

