/* Navigation.module.css */
.nav {
  background-color: #f8f9fa;
  padding: 10px;
}

.navLink {
  color: #000;
  margin-right: 10px;
  padding: 10px;
  text-decoration: none;
}

.navLink:hover {
  color: #0056b3;
}

.active {
  font-weight: bold;
  color: #007bff !important;
}

.inactive {
  color: #6c757d;
}
